{%extends 'all-images/base.html'%}
{% block content %}
{{ block.super}}
<div class="container">
 <div class="jumbotron">
   <h1>Welcome to Images</h1>
   <p>
     Feel Comfortable to View
   </p>
 </div>
 <div class="row">
   {% for item in epic %}
   <div class="col-md-6">
     <div class="card">
       <!-- Looping through -->
       <img src="{{item.Image_image.url}}" data-toggle="modal" data-target="#myModal{{item.id}}" data-toggle="tooltip"
         title="click image to view details" style="height:300px;width:520px" class="img-responsive">

     </div>

   </div>
   <div class="modal" tabindex="-1" id="myModal{{item.id}}" role="dialog">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="text-center">{{item.name}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           <img src="{{item.Image_image.url}}" class="img-responsive" alt="">
           <p>{{item.description}}</p>
         </div>
         <div class="modal-footer">
           <p style="color:lawngreen; font-size:16px;">Posted {{item.pub_date|timesince}}</p>
           <br>
           <button type="button" class="btn btn-outline-danger btn-bg" data-dismiss="modal" data-toggle="tooltip"
             data-placement="right" title="Close Single Image">Close</button>
           <br>
           <input type="text" value="https://phoebekaranja.herokuapp.com{{item.Image_image.url}}" id="myInput" style="color:black;">
           <button type="button" value="https://phoebekaranja.herokuapp.com{{item.Image_image.url}}" onclick="copyLink(this.value)"
             class="btn btn-outline-success" data-toggle="tooltip" data-placement="right" title="Copy Image">Copy
             Image url</button>
         </div>
       </div>
     </div>
   </div>

   {% endfor %}
   <script>
     function copyLink() {
       var copyText = document.getElementById("myInput");
       copyText.select();
       document.execCommand("copy");

       /* Alert the copied text */
       alert("Text Copied : " + copyText.value);
     }
   </script>
 </div>
</div>





{% endblock %}
