<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'image_Today' %}" style="font-size: 20px; color:yellow;">Phoebe Gallery</a>

        </div>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="color:white;font-size:20px;">
                Category
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: rgba(2,2,2,0.918); opacity:0.9;">
                {% for data in category %}
                <a class="dropdown-item" href="/category/{{data.name}}" style=" color:white;font-size: 20px;">{{data.name}}</a>
                <div class="dropdown-divider"></div>
                {% endfor %}
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="color:yellow;font-size:36px;">
                Location
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                {% for item in location %}
                <a class="dropdown-item" href="/location/{{item.name}}" style=" color:white;font-size: 10px;">{{item.name}}</a>
                <div class="dropdown-divider"></div>


                {% endfor %}
            </div>
        </li>
        <!-- Adding a search form  -->
        <div class="col-sm-4 col-md-4 navbar-right">

            <form class="navbar-form" role="search" action="{% url 'image_Today' %}">

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Image" name="image">
                    <div class="input-group-btn" style="margin-right:25px;">
                        <button class="btn btn-outline-primary btn-sm" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>

            </form>
        </div>
        <!-- search form end -->
    </div>
</nav>
